<div class="row">
    <h1 class="page-title col-lg-6">Interests <small><small></small></small>
    </h1>
    <p class="col-lg-6"> <button [routerLink]=" ['/app/addInterest-page'] " class="btn btn-inverse width-100 mb-xs float-r" style="    float: right;" role="button">
            Add Interest
          </button></p>
</div>

<!--<div class="row">-->
<section class="widget" widget>

    <div class="widget-body">
        <div class="mt">
            <div class="width-200 float-right">
                <div class="input-group input-group-sm input-group-transparent input-group-rounded">
                    <span class="input-group-addon">
            <!--<i class="fa fa-search"></i>-->
          </span>
                    <!--<input class="form-control form-control-sm" id="table-search-input" [(ngModel)]="searchText" type="text" placeholder="Search Interest">-->
                </div>
            </div>
            <table class="table table-striped table-hover" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="10">
                <thead>
                    <tr>



                        <th class="no-sort hidden-sm-down">
                            <mfDefaultSorter>Interest Name</mfDefaultSorter>
                        </th>
                        <th class="no-sort hidden-sm-down">
                            <mfDefaultSorter>Category</mfDefaultSorter>
                        </th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let person of mf.data">
                        <td><span class="fw-semi-bold">{{person.name}}</span></td>

                        <td class="hidden-sm-down">{{person.category}}</td>


                    </tr>
                    <tr *ngIf="mf.data.length === 0">
                        <td colspan="100">
                            No matches
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="12">
                            <mfBootstrapPaginator [rowsOnPageSet]="[10, 25, 50, 100]"></mfBootstrapPaginator>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</section>
<!--</div>-->